<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
  </head>
  <body>
    <div class="header_wrapper">
      <h1>Admin Dashboard</h1>
      <div>
        <a href="/admin/new">Add New Post</a>
      </div>
    </div>

    <ul>
      <% posts.forEach((post) => { %>
      <li>
        <div>
          <p><%= post.title %></p>
          <div>
            <span><a href="/admin/edit/<%= post._id %>">edit</a></span>
            <span><a href="/admin/delete/<%= post._id %>">delete</a></span>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
    <footer>
      <p>&copy; 2025 Your Blog Name</p>
    </footer>
  </body>
</html>
