<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
  </head>
  <body>
    <div class="header_wrapper">
      <h1>Admin Dashboard</h1>
      <div>
        <a href="/admin/new">Add New Post</a>
      </div>
    </div>

    <ul>
      <li>
        <div>
          <p>Post Title 1</p>
          <div>
            <span>edit</span>
            <span>delete</span>
          </div>
        </div>
      </li>
      <li>
        <div>
          <p>Post Title 2</p>
          <div>
            <span>edit</span>
            <span>delete</span>
          </div>
        </div>
      </li>
      <li>
        <div>
          <p>Post Title 3</p>
          <div>
            <span>edit</span>
            <span>delete</span>
          </div>
        </div>
      </li>
    </ul>
    <footer>
      <p>&copy; 2025 Your Blog Name</p>
    </footer>
  </body>
</html>
