<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit article</title>
  </head>
  <body>
    <form action="/admin/edit/<%= post._id %>" method="PUT">
      <input type="text" name="title" value="<%= post.title %>" required />
      <label for="date">Date:</label>
      <input
        type="date"
        name="date"
        value="<%= post.date.toISOString().split('T')[0] %>"
        required
      />
      <textarea name="content" required><%= post.content %></textarea>
      <button type="submit">Update Post</button>
    </form>
  </body>
</html>
