<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>personal blog</h1>
    <p>
      Welcome to my personal blog where I share my thoughts and experiences.
    </p>
    <div class="posts">
      <h2>Recent Posts</h2>
      <ul>
        <li>
          <a href="/articles/1">Post 1 <span>23 august, 2025</span></a>
        </li>
        <li>
          <a href="/articles/2">Post 2 <span>10 july, 2025</span></a>
        </li>
        <li>
          <a href="/articles/3">Post 3 <span>2 april, 2025</span></a>
        </li>
        <li>
          <a href="/articles/3">Post 3 <span>2 april, 2025</span></a>
        </li>
        <li>
          <a href="/articles/3">Post 3 <span>2 april, 2025</span></a>
        </li>
        <li>
          <a href="/articles/3">Post 3 <span>2 april, 2025</span></a>
        </li>
        <li>
          <a href="/articles/3">Post 3 <span>2 april, 2025</span></a>
        </li>
        <li>
          <a href="/articles/3">Post 3 <span>2 april, 2025</span></a>
        </li>
        <li>
          <a href="/articles/3">Post 3 <span>2 april, 2025</span></a>
        </li>
      </ul>
    </div>
  </body>
</html>
